/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [Customers]    Script Date: 20/10/2017 9:16:13 AM ******/
CREATE DATABASE [Customers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Customers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Customers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Customers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Customers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Customers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Customers]
GO
USE [Customers]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 20/10/2017 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CusID] [int] NOT NULL,
	[FName] [nvarchar](255) NULL,
	[LName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](225) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 20/10/2017 9:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] NOT NULL,
	[Rating] [nvarchar](50) NULL,
	[Tittle] [nvarchar](225) NULL,
	[Year] [nvarchar](255) NULL,
	[Rental_Cost] [money] NULL,
	[Copies] [nvarchar](50) NULL,
	[Plot] [ntext] NULL,
	[Genre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentedMovies]    Script Date: 20/10/2017 9:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentedMovies](
	[RMID] [int] NOT NULL,
	[MovielDFK] [int] NULL,
	[CustlDFK] [int] NULL,
	[DateRented] [smalldatetime] NULL,
	[DateReturned] [smalldatetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([CusID], [FName], [LName], [Address], [Phone]) VALUES (2, N'Malkeet', N'Singh', N'31 Beaumonts way', N'0223456426')
INSERT [dbo].[Customer] ([CusID], [FName], [LName], [Address], [Phone]) VALUES (3, N'Surinder', N'Singh', N'96 beaumonts', N'0343452789')
INSERT [dbo].[Customer] ([CusID], [FName], [LName], [Address], [Phone]) VALUES (4, N'Daljit', N'Malhi', N'11 Hobson Street', N'993536379')
INSERT [dbo].[Movies] ([MovieID], [Rating], [Tittle], [Year], [Rental_Cost], [Copies], [Plot], [Genre]) VALUES (1, N'05', N'Bodyguard', N'2015', 120.0000, N'4', N'A freedom-craving coed (Kareena Kapoor) hatches a plan to ditch her vigilant bodyguard (Salman Khan), but her scheme soon backfires.', N'Romantic')
INSERT [dbo].[Movies] ([MovieID], [Rating], [Tittle], [Year], [Rental_Cost], [Copies], [Plot], [Genre]) VALUES (2, N'02', N'Bhag Milkha Bhag', N'2013', 180.0000, N'5', N'The story of runner Milkha Singh (Farhan Akhtar), called "the Flying Sikh," shows his loss in the 400-meter finals at the 1960 Olympics.', N'Olympics ')
INSERT [dbo].[Movies] ([MovieID], [Rating], [Tittle], [Year], [Rental_Cost], [Copies], [Plot], [Genre]) VALUES (3, N'01', N'Queen', N'2016', 260.0000, N'1', N'A young Delhi woman from a traditional family goes on a solo honeymoon when her wedding is canceled.', N'Comedy')
INSERT [dbo].[RentedMovies] ([RMID], [MovielDFK], [CustlDFK], [DateRented], [DateReturned]) VALUES (1, 1, 1, CAST(N'2016-03-09T00:00:00' AS SmallDateTime), CAST(N'2016-09-06T00:00:00' AS SmallDateTime))
INSERT [dbo].[RentedMovies] ([RMID], [MovielDFK], [CustlDFK], [DateRented], [DateReturned]) VALUES (2, 2, 2, CAST(N'2015-07-08T00:00:00' AS SmallDateTime), CAST(N'2015-07-16T00:00:00' AS SmallDateTime))
INSERT [dbo].[RentedMovies] ([RMID], [MovielDFK], [CustlDFK], [DateRented], [DateReturned]) VALUES (3, 3, 3, CAST(N'2013-01-02T00:00:00' AS SmallDateTime), CAST(N'2013-01-03T00:00:00' AS SmallDateTime))
USE [master]
GO
